In [1]:
import numpy as np
M = np.array([[2,3], [5,-8]])
N = np.array([[1,-4], [8,-6]])

print ("M+N=", M+N)
print ("M*N=", M*N)
print ("M@N=", M@N)
print ("M.dot(N)=", M.dot(N))
print ("The transpose of M is=", np.transpose(M))

M+N= [[  3  -1]
 [ 13 -14]]
M*N= [[  2 -12]
 [ 40  48]]
M@N= [[ 26 -26]
 [-59  28]]
M.dot(N)= [[ 26 -26]
 [-59  28]]
The transpose of M is= [[ 2  5]
 [ 3 -8]]

In [2]:
#numpy.linalg is a class having a standard set of things like inverse, determinant and matrix Decomposition.

In [3]:
import numpy.linalg as LA

In [4]:
#To compute inverse of a Matrix using LA.inv(M)

In [8]:
import numpy.linalg as LA
import numpy as np
A = np.array ([[3,1,0], [1,4,0],[2,0,5] ])

In [9]:
print (A)

[[3 1 0]
 [1 4 0]
 [2 0 5]]

In [5]:
#To compute inverse of a Matrix using LA.det(M)

In [10]:
import numpy.linalg as LA
import numpy as np
A = np.array ([[3,1,0], [1,4,0],[2,0,5] ])
eignVal, eignVec = LA.eig(A)

In [13]:
eignVal

array([5.        , 4.61803399, 2.38196601])

In [14]:
eignVec

array([[ 0.        ,  0.17950561,  0.71327508],
       [ 0.        ,  0.29044618, -0.44082824],
       [ 1.        , -0.93990359, -0.54489368]])

In [15]:
#Comparison and Boolean Logic

In [16]:
x3 = np.arange(15)

In [17]:
print (x3)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [ ]:
#To get the sum of elements whose value is greater than 10 or less than 3

In [18]:
sx3= np.sum(x3[(x3>10)|(x3<3)])

In [19]:
print (sx3)

53

In [20]:
a= x3

In [21]:
print (a)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [22]:
a= x3[(x3<=10) &(x3>=3)]

In [23]:
print (a)

[ 3  4  5  6  7  8  9 10]

In [28]:
b= x3[(x3<=10) | (x3>=3)]

In [29]:
print (b)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14]

In [30]:
c= x3[~(x3>5)]

In [31]:
print (c)

[0 1 2 3 4 5]

In [32]:
#To select datapoints from a dataset randomly

In [37]:
rand = np.random.RandomState(421)
rx = rand.randint(50, size=10)
print (rx)

[23 44 19 17 15 30 38 17 47 32]

In [ ]:
#Randomly select 5 data points from the array.

In [39]:
indices = np.random.choice(rx.shape[0], 5, replace=False)
indices

array([7, 0, 4, 9, 8])

In [41]:
selected = rx [indices]
print (selected)

[17 23 15 32 47]

In [42]:
#Sorting Arrays

In [43]:
#np.sort: return a sorted version of the array. 
#np.argsort: return the indices of the sorted elements

In [44]:
np.sort?

In [8]:
import numpy as np
x4= np.array([10,9,-1,3])
np.sort (x4)

array([-1,  3,  9, 10])

In [9]:
#To define Functions

In [10]:
def addMatrices(a,b):
    '''adds two 2x2 matrices together'''
    C = [[a[0][0]+b[0][0], a[0][1]+b[0][1]], [a[1][0]+b[1][0], a[1][1]+b[1][1]]]
    return C

In [11]:

M1 = np.array ([[0,1], [1,0]])
M2 = np.array ([[1,1], [1,0]])

In [12]:
 addMatrices(M1,M2)

[[1, 2], [2, 0]]

In [16]:
def addMatrices (c,d):
    '''adds two 2x2 matrices together'''
    E = [[c[0][0]+d[0][0], c[0][1]+d[0][1]], 
         [c[1][0]+d[1][0], c[1][1]+d[1][1]]]
    return E
c = np.array([[1,2], [8,-3]])
d = np.array([[0,10], [-2,6]])

In [17]:
E = addMatrices(c,d)

In [18]:
print (E)

[[1, 12], [6, 3]]

In [45]:
def addMatrices (a):
    '''adds the vectors across the diagonal of a three 3x3 matrices together'''
    H = [[a[0][0]+a[1][1]+a[2][2]]]
          
    return H

In [46]:
A = np.array([[1,2,3], [0,10,-5], [-6,-2,11]])

In [47]:
A

array([[ 1,  2,  3],
       [ 0, 10, -5],
       [-6, -2, 11]])

In [48]:
B = addMatrices (A)

In [49]:
print (B)

[[22]]

In [50]:
# To input the square of a matrix

In [51]:
def square(x):
    '''Return the square x'''
    return x**2

In [52]:
square?

In [53]:
square??

In [54]:
print??

In [55]:
#Data type in python, which refers to the type of data the variable stores.

In [56]:
# 1. To define a string, you can use a single quote '' and combine multiple strings by using + sign

In [58]:
firstname = 'Eloho'
surname = 'Mukoro'

In [59]:
Fullname = firstname + " " + surname

In [60]:
print (Fullname)

Eloho Mukoro

In [61]:
# 2. List is a type od data variable that is a collection of data which are normally related. They are seperated by commas and square brackets are used while declaring a list.

In [62]:
mylist = [1,2,3,4,'Eloho']

In [63]:
mylist

[1, 2, 3, 4, 'Eloho']

In [69]:
mylist.insert(1,'e')

In [67]:
mylist

[1, 'e', 2, 3, 4, 'Eloho']

In [70]:
mylist.append(0)

In [71]:
mylist

[1, 'e', 'e', 2, 3, 4, 'Eloho', 0]

In [72]:
# 3. Dictionary: This is a collection of related data pair, which stores data.

In [73]:
myDictionary = {"Peter":80, "Mary":59, "Ann":81, "David":50, "Joe":62}

In [75]:
myDictionary

{'Peter': 80, 'Mary': 59, 'Ann': 81, 'David': 50, 'Joe': 62}

In [76]:
myDictionary = {"Peter":80, "Mary":59, "Ann":81, "David":50, "Peter":62}

In [77]:
myDictionary

{'Peter': 62, 'Mary': 59, 'Ann': 81, 'David': 50}

In [78]:
myDictionary ["Peter"]

62